worker_processes 1;

events { worker_connections 1024; }

http {
    log_format custom_format '$remote_addr - $remote_user [$time_local] '
                             '"$request" $status $body_bytes_sent '
                             'pool=$ACTIVE_POOL release=$ACTIVE_RELEASE '
                             'upstream_status=$upstream_status upstream=$upstream_addr '
                             'request_time=$request_time upstream_response_time=$upstream_response_time';

    access_log /var/log/nginx/access.log custom_format;

    upstream blue_backend { server app_blue:8081; }
    upstream green_backend { server app_green:8082; }

    server {
        listen 80;

        # fallback default upstream
        set $target_upstream blue_backend;

        # override if env var exists
        if ("${ACTIVE_POOL}" = "green") {
            set $target_upstream green_backend;
        }

        location / {
            proxy_pass http://$target_upstream;

            # Always valid arguments, with fallback defaults
            proxy_set_header X-App-Pool "${ACTIVE_POOL:-unknown}";
            proxy_set_header X-Release-Id "${ACTIVE_RELEASE:-none}";
            proxy_set_header Host "$host";
            proxy_set_header X-Real-IP "$remote_addr";
            proxy_set_header X-Forwarded-For "$proxy_add_x_forwarded_for";
        }
    }
}
